<div class="card" style="width: 18rem">
  <div class="contFoto d-flex justify-content-center align-items-center">
    <div class="foto w-50">
      <img src="{{ libroPadre.photo }}" class="card-img-top" alt="Img" />
    </div>
    <button
      type="button"
      class="btn btn-dark eliminar"
      (click)="eliminaTargeta(libroPadre.id_book)"
    >
      X
    </button>
  </div>
  <div class="card-body text-light d-flex flex-column">
    <h5 class="card-title text-black fw-bold fs-5 text-center mb-3">
      {{ libroPadre.title }}
    </h5>
    <h6 class="card-text ms-3">{{ libroPadre.author }}</h6>
    <h6 class="card-text ms-3">{{ libroPadre.type }}</h6>
    <h6 class="card-text ms-3">{{ libroPadre.id_book | ref }}</h6>
    <h6 class="card-text align-self-center mt-1">{{ libroPadre.price }} €</h6>
    <a [ngClass]="even ? 'btn btn-success' : 'btn btn-secondary'">Comprar</a>
  </div>
</div>
