<div class="contPrinc">
    <div class="contTitul">
        <h1>MyBooks</h1>
    </div>
    <div class="contEnlaces">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
        <a routerLink="/profile" routerLinkActive="active">Profile</a>
        <a routerLink="/books" routerLinkActive="active">Books</a>
        <a routerLink="/addBook" routerLinkActive="active">AddBook</a>
        <a routerLink="/updateBook" routerLinkActive="active">UpdateBook</a>
        <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
</div>