<div class="contPrinc">
  <div class="contForm d-flex justify-content-center">
    <div class="formulario">
      <h1 class="h1form">Modifica un libro</h1>
      <input
        type="text"
        placeholder="Referencia del libro a modificar"
        #idLibro
      />
      <label class="text-black fw-medium">Campos a modificar</label>
      <input type="text" placeholder="Titulo" #titulo />
      <input type="text" placeholder="Genero" #genero />
      <input type="text" placeholder="Autor" #autor />
      <input type="text" placeholder="Precio" #precio />
      <input type="text" placeholder="Url de portada" #url />
      <button
        type="button"
        class="btn btn-danger"
        (click)="edita(titulo, genero, autor, precio, url, idLibro)"
      >
        Modificar
      </button>
    </div>
  </div>
</div>
